     {% extends 'base.html' %}
     
     {% block body %}
     <div class="container">
    <div class="card">
  <div class="card-body">
    <center>
      <h4>Post what you need!</h4>
      <h6 class="my-4"></h6>
    </center>
    
    <form action="{% url 'post' %}" method="POST">
      {% csrf_token %}
      <label for="city">City</label>
      <input class="form-control" type="text" name="c" placeholder="Enter city name" id="city"/>
   
      
      
      
    <label for="sellery">Sellery</label>
      
      <input class="form-control" type="text" name="s" id="sellery" placeholder="What will be sellery?"/>
      <br />
      <textarea class="form-control" id= rows="4" placeholder="Describe your need!" name="t"></textarea>
      <br />
      <button class="btn btn-success w-100" type="submit">Post</button>
      
      
    </form>
    
    
    
  </div>
</div>
    </div>
    
    {% endblock %}
